body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.logo {
  width: 44px;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
}

.span-logo {
  width: 71px;
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  line-height: 1.17;
}
.adress {
  font-style: normal;
}
.adress-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  color: var(--NAVY-BLUE, #2e2f42);
  font-style: normal;
}

.top-line-nav {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.top-line-nav:hover,
.top-line-nav:focus {
  color: #404bbf;
}

.contacts {
  color: var(--SLATE, #434455);
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
.dark-bg {
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  background: var(--NAVY-BLUE, #2e2f42);
}

.dark-bg-title {
  width: 496px;
  color: var(--WHITE, #fff);
  text-align: center;
  /* Header 1 */
  font-family: 'Roboto';
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  line-height: 1.07;
}

.button-s {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.button-s:hover {
  background-color: #404bbf;
}

.button-s:focus {
  background-color: #404bbf;
}
.section-feature {
  width: 1128px;
  height: 104px;
  flex-shrink: 0;
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}

h3 {
  width: 264px;
  color: var(--NAVY-BLUE, #2e2f42);
  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.feature {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.name-feature {
  width: 264px;
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.content-feature {
  width: 264px;
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
/* Team Section */
.light-bg {
  width: 1440px;
  height: 732px;
  flex-shrink: 0;
  background: var(--CLOUD, #f4f4fd);
}

.team {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  line-height: 1.11;
}

.team-card {
  display: inline-flex;
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-name {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.team-job {
  color: var(--SLATE, #434455);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
/* Portfolio */
.portfolio {
  width: 1128px;
  height: 1000px;
  flex-shrink: 0;
}

.portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.project-card {
  display: flex;
  width: 360px;
  height: 420px;
  padding-bottom: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}

.project-name {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.project-type {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* Footer */

.footer-text {
  width: 264px;
  color: #f4f4fd;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.dark-bgg {
  width: 1440px;
  height: 312px;
  flex-shrink: 0;
  background: var(--NAVY-BLUE, #2e2f42);
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
}

.logo-footer {
  display: flex;
  width: 44px;
  height: 21px;
  flex-direction: column;
  justify-content: center;
  color: var(--IRIS, #4d5ae5);
  font-family: 'Raleway' sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.span-logo-footer {
  color: #f4f4fd;
  font-family: 'Raleway' sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
